@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Space Grotesk', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.product-pill {
  border: 2px solid #059669;
  border-radius: 9999px;
  transition: all 0.15s ease-in-out;
}

.product-pill:active {
  transform: scale(0.97);
  background-color: #ecfdf5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
